<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="css/blog.css">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        
        <header>
            <nav class="green darken-4">
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo">Blog</a>  
                    <ul class="right">
                        <li><a href="index.html">Home</a></li>  
                        <li><a href="admin.html">Admin</a></li>
                    </ul>
                </div>
            </nav>
        </header>
      <main>
         <div class="container"> 
             <div class="row">
                 <h1 class="center-align">My Blog</h1>
             </div>
             <div class="row">
                 <div class="col s12 main-container">
                     
                 </div>
             </div>
         </div>
      </main>
        <footer class="page-footer green accent-3" >
            <div class="container">
                <center><p><a href="#"></a>Back to the top</p></center>   
            </div>
            <div class="footer-copyright green darken-4">
                <div class="container">
                    <center>@2016 YaManJohnny</center>
                </div>
            </div>
        </footer>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="libs/backendless.js"></script>
      <script type="text/javascript" src="js/blog.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script> 
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
      <script type="text/javascript" src="js/handlebars-v4.0.5.js"></script>
      
      <script id="blogs-template" type="text/x-handlebars-template">
          {{#each posts}}
    <div class="blog-post">
       <center><h2 class="blog-post-title">{{title}}</h2></center>
       <center><p class="blog-post-meta">At {{format created}} by {{authorEmail}}</p></center>
       <center><div>{{content}}</div></center>
    </div>
            {{/each}}
      </script>
    </body>
  </html>
        
